<html>
<head>
    <title>Test</title>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.js"   integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA="   crossorigin="anonymous"></script>-->
    <script   src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
    <script src = "static/auth.js"></script>
    <script src = "static/appscript.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script> 
</head>
<body>
    <form name = "search" action = "ytube" method = "get">
        <input name = "ysearch" id = "search-string" type = "text"/>
        <input type = "submit">
    </form>
    <!--<button id = "search-button" onclick="youtubeRequest()" disabled> search </button>-->
    <div id = "search-container">
    </div>
</body>
</html>